.header_font{
    font-size: 1rem;
}

.user_name{
    color: whitesmoke;
    margin: auto;
}

.navbar_icon{
    color: whitesmoke;
    font-size: 1rem;
    margin: 0 1rem;
}

.navigation_property{
    color: whitesmoke;
    font-size: 1rem;
}
